<#@ template language="C#" hostspecific="True" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="ExceptionTemplate.tt" #>
<#
	var template = new ExceptionTemplate();
    template.Name = "DuplicateMixinAnnotationException";
    template.Message = "Duplicate mixin annotation has been found";
    template.Render();
#>
