<#@ template language="C#" hostspecific="True" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="ArgumentExceptionTemplate.tt" #>
<#
	var template = new ArgumentExceptionTemplate();
    template.Message = "Missing mixin annotation";
    template.Render();
#>