<#@ template language="C#" hostspecific="True" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="$(SolutionDir)\NCop.Core\Exceptions\ArgumentExceptionTemplate.tt" #>
<#
	var template = new ArgumentExceptionTemplate();
    template.Message = "Type could not be resolved";
    template.Render();
#>
