<#@ template language="C#" hostspecific="True" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="..\..\NCop.Core\Exceptions\ArgumentExceptionTemplate.tt" #>
<#
	var template = new ArgumentExceptionTemplate();
    template.Message = "Missing aspect annotation";
    template.Render();
#>